
@using IS_Klinika.Areas.ModulAdministracija.Models
@{
    ViewBag.Title = "Uredi";
}
@model IS_Klinika.Areas.ModulAdministracija.Models.SmjenaUrediVM

@using (@Html.BeginForm("Snimi", "Smjena")) { 
<br /><br /><br />
<div>
        <div class="col-md-offset-3 col-md-6" >
    <div class="well well-sm">
        <span class="text-bg text-info">Smjene unos</span>
    </div>
    <div class="form-group-sm">
        <div class="input-group-sm">
            <label>Naziv</label>
            @Html.TextBoxFor(model => model.Naziv, new { @class="form-control"})
            @Html.ValidationMessage("Naziv", new { @class="text-danger"})
        </div>
    </div>
        <br />
    <div class="form-group-sm">
        <div class="input-group-sm">
            <label class="checkbox-inline"><span class="text-bg text-danger">Valid</span></label>
            @Html.CheckBoxFor(model => model.Valid, new { @class = "checkbox-inline" })
        </div>
    </div>
        <hr />
    <div>
        <input type="submit" value="Snimi" class="btn btn-success btn-xs" />
    </div>
</div>
</div>
}
